/* line 4, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/cart_items.scss */
.title {
  margin-top: 80px;
}

/* line 7, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/cart_items.scss */
.clear-cart {
  float: right;
}

/* line 10, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/cart_items.scss */
.media-heading {
  margin-top: 10px;
}

/* line 13, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/cart_items.scss */
.media-heading a:hover {
  background-color: transparent;
  color: #f72464;
}

/* line 17, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/cart_items.scss */
.quantity a, .quantity span {
  color: #262626;
  font-size: 22px;
}

/* line 21, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/cart_items.scss */
.plus {
  margin-left: 5px;
  margin-right: 10px;
}

/* line 25, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/cart_items.scss */
.minus {
  margin-left: 10px;
}

/* line 28, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/cart_items.scss */
.plus:hover, .minus:hover {
  background-color: transparent;
  text-decoration: none;
  color: #f72464;
}

/* line 33, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/cart_items.scss */
.plus:focus, .minus:focus {
  background-color: transparent;
  text-decoration: none;
}
