/* line 7, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/strands.scss */
html, body {
  position: relative;
  min-height: 100%;
}

/* line 11, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/strands.scss */
body {
  display: flex;
  flex-flow: column;
  font: 1em/1.67 'Open Sans', Arial, Sans-serif;
  background: #E9E9E9;
}

/* line 17, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/strands.scss */
.ci-img-wrapper img {
  width: 100%;
  height: 150px;
}

/* line 21, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/strands.scss */
.add2cart-index {
  width: 140px;
  float: right;
  color: #a8aeb3;
  border: 1px #ededed solid;
  padding: 3px 6px;
  text-transform: uppercase;
}
/* line 28, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/strands.scss */
.add2cart-index .add2cart-index:hover {
  color: #fff;
  background: linear-gradient(to bottom, #9fbf00, #80ab00);
  border-color: #9fbf00;
}

/* line 34, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/strands.scss */
.quantity-form {
  margin-top: 20px;
}

/* line 37, /home/syat/Projects/Bonnechanse/app/assets/stylesheets/strands.scss */
#quantity-submit {
  padding-left: 0;
}
