<div id='page-wrapper'>
  <div class='container-fluid'>
    <h2>Пожалуйста, выберите категорию товаров</h2>
      <div class='row'>
        <div class='col-md-2'>
          <%= link_to "Схемы", discount_patterns_admin_index_path %>
        </div>
        <div class='col-md-2'>
        </div>
        <div class='col-md-2'>
          <p>Ткани</p>
        </div>
        <div class='col-md-2'>
          <p>Наборы</p>
        </div>
        <div class='col-md-2'>
          <p>Аксессуары</p>
        </div>
      </div>
  </div>
</div>
