<div class="index-wrapper">
  <div class="container">
    <h1>Здесь будет код формы оплаты, которую предоставит Яндекс.</h1>
    <br>
    <h2>Сейчас при переходе на эту страницу в админке появляется уведомление о новом заказе<h2>
    <br>
    <h2>По факту оплаты у заказа будет появляться статус "оплачен", а позиции в корзине - сбрасываться</h2>
  </div>
</div>
