/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require fancybox
 *= require font-kit-rails/droid-sans
 *= require font-kit-rails/open-sans
 *= require font-kit-rails/pt-serif
 *= require font-kit-rails/ubuntu
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap/theme";
 @import "font-awesome";
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 330px;
}
nav.navbar-prime {
  background-image: linear-gradient(to bottom, #e5e5e5, #dedede);
  border-color: #ccc;
  box-shadow: 0 0 2px 0 #ccc;
}
.navbar-brand {
  color: #262626;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: lowercase;
  margin-left: 30px;
}
.navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
  background-color: inherit;
  text-decoration: none;
  color: #f72464;
}
#menu-button {
  border-color: #262626;
}
#icon-bar {
  background-color: #262626
}
#navbar .navbar-nav a, p {
  padding: 17px 10px 17px 10px;
  margin-bottom: 10px;
  color: #262626;
  text-transform: uppercase;
  font-size: 14px;
}
#navbar .navbar-nav p {
  font-weight: bold;
}
#navbar .navbar-nav a:hover {
  background-color: inherit;
  color: #f72464;
}
.cart-icon i {
  position: relative;
  font-size: 22px;
  display: inline-block;
}
.cart-icon .item-count {
  position:absolute;
  right: -10px;
  bottom: -10px;
  background-color:#f72464;
  color:#fff;
  font-family: 'Open Sans',sans-serif;
  font-size:11px;
  border-radius :100%;
  padding:3px 7px;
}
#searchform span {
  margin-right: 3px;
}
.top-10 {
  margin-top: 10px;
}
.top-20 {
  margin-top: 20px;
}
.left-10 {
  margin-left: 10px;
}
.bottom-rule {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: 15px;
}
.btn.outline {
	background: none;
	padding: 12px 22px;
}
.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}
.btn-success.outline {
	border: 2px solid #00bf6f;
	color: #00bf6f;
}
.btn-success.outline:hover, .btn-success.outline:focus, .btn-success.outline:active, .btn-success.outline.active, .open > .dropdown-toggle.btn-success {
	border-color: #39bf87;
	color: #39bf87;
}
.btn-success.outline:active, .btn-success.outline.active {
	border-color: #008c52;
	color: #008c52;
	box-shadow: none;
}
.btn-info.outline {
	border: 2px solid #31cde8;
	color: #31cde8;
}
.btn-info.outline:hover, .btn-info.outline:focus, .btn-info.outline:active, .btn-info.outline.active, .open > .dropdown-toggle.btn-info {
	border-color: #5fd4e8;
	color: #5fd4e8;
}
.btn-info.outline:active, .btn-info.outline.active {
	border-color: #35a2b5;
	color: #35a2b5;
	box-shadow: none;
}
.btn-warning.outline {
	border: 2px solid #eb8f34;
	color: #eb8f34;
}
.btn-warning.outline:hover, .btn-warning.outline:focus, .btn-warning.outline:active, .btn-warning.outline.active, .open > .dropdown-toggle.btn-warning {
	border-color: #eba259;
	color: #eba259;
}
.btn-warning.outline:active, .btn-warning.outline.active {
	border-color: #b87430;
	color: #b87430;
	box-shadow: none;
}
.btn-danger.outline {
	border: 2px solid #f25454;
	color: #f25454;
}
.btn-danger.outline:hover, .btn-danger.outline:focus, .btn-danger.outline:active, .btn-danger.outline.active, .open > .dropdown-toggle.btn-danger {
	border-color: #f26d6d;
	color: #f26d6d;
}
.btn-danger.outline:active, .btn-danger.outline.active {
	border-color: #bf4343;
	color: #bf4343;
	box-shadow: none;
}
.footer {
	background: #262626;
	height: 330px;
	position: absolute;
  bottom: 0;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
  color: #ccc;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #ccc;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer #logo {
  color: white;
  border-bottom: 1px solid #BAC1C8;
  padding: 35px 0 10px;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: lowercase;
}
.footer #white-rabbit {
  color: white;
  font-size: 24px;
  font-style: italic;
  font-family: "Ubuntu"
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
  color: #dedede;
}
.footer a {
	color: #78828D
}
.footer a:hover {
  color: #f72464;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	overflow: auto;
  list-style-type: none;
  float: left;
}
.social li a i {
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  padding-top: 15%;
  transition: all 0.2s ease-in-out;
}
.fa-facebook {
	background: #3b5998;
  padding-left: 15%;
}
.fa-instagram {
  background: #bc2a8d;
  padding-left: 12%;
}
.fa-vk {
  background: #45668e;
  padding-left: 2%;
}
.social li:hover, a:hover {
	opacity: .7;
  background-color: #262626;
}
.footer-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
	background: #1d1d1d;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  color: #dedede;
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;
  color: #dedede;
}


.hero-feature {
    margin-bottom: 30px;
}

//catalog common styles
.title-wrapper {
  margin-top: 60px;
}
.index-wrapper {
  margin-top: 80px;
}
.show-wrapper {
  margin-top: 150px;
}
.catalog a  {
  color: #262626;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 100;
}

.catalog-item {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
}
.catalog-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
}
.item-body {
  a:hover {
    background-color: inherit;
  }
}
.catalog-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height:0;
}
.sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
}
.sticker-new {
    background: image-url("new.png") no-repeat;
    left: auto;
    right: 0;
}
.ci-img-wrapper {
    position: relative;
}
.ci-img-wrapper div {
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.ci-img-wrapper img {
  width: 100%;
  height: 450px;
}
.catalog-item:hover>.ci-img-wrapper>div {
    display: block;
}
.ci-img-wrapper div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
}
.catalog-item .btn:hover {
    background: #e84d1c;
    border-color: #c8c8c8;
}

.catalog-item h3 {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
}
.catalog-item h3 a {
    color: #3e4d5c;
}
.catalog-item h3 a:hover {
    color: #f72464;
}
.ci-price {
    color: #e84d1c;
    font-size: 18px;
    float: left;
    padding-top: 1px;
}
.add2cart {
    float: right;
    color: #262626;
    border: 1px #ededed solid;
    padding: 3px 6px;
    text-transform: uppercase;
}
        .add2cart:hover {
            color: #fff;
            background: linear-gradient(to bottom, #9fbf00, #80ab00);
            border-color: #9fbf00;
        }

#target img {
  max-width: 80%;
  max-height: 100px;
  margin-top: 10px;
}

#edit_page {
 .current_image {
   img {
     display: block;
     margin: 20px 0;
   }
 }
}
.image_element {
  width:100%;
  height:100%;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
}
