// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  margin-top: 80px;
}
.clear-cart {
  float: right;
}
.media-heading {
  margin-top: 10px;
}
.media-heading a:hover {
  background-color: transparent;
  color: #f72464;
}
.quantity a, .quantity span {
  color: #262626;
  font-size: 22px;
}
.plus {
  margin-left: 5px;
  margin-right: 10px;
}
.minus {
  margin-left: 10px;
}
.plus:hover, .minus:hover,{
  background-color: transparent;
  text-decoration: none;
  color: #f72464;
}
.plus:focus, .minus:focus {
  background-color: transparent;
  text-decoration: none;
}
